node_modules/
.env
.env.local
.env.production

.DS_Store
Thumbs.db

build/
dist/
*.log
npm-debug.log*
.nyc_output
coverage/
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform.lock.hcl
terraform/terraform.tfvars

k8s/secrets/backend-secret.yaml


.vscode/
.idea/
*.swp
